In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('train.csv')
data.insert(0, 'Ones', 1)

In [74]:
data = data.drop(data.columns[[4, 8, 9, 11]], axis=1)

In [75]:
data = data.replace({'male': 1,'female': 0})
data = data.replace({'C': 1, 'Q': 2, 'S': 3})
data.iloc[:,3] = data.iloc[:,3].replace({3: 1,1: 3})
data.head(5)

   Ones  PassengerId  Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
0     1            1         0       1    1  22.0      1   7.2500       3.0
1     1            2         1       3    0  38.0      1  71.2833       1.0
2     1            3         1       1    0  26.0      0   7.9250       3.0
3     1            4         1       3    0  35.0      1  53.1000       3.0
4     1            5         0       1    1  35.0      0   8.0500       3.0

In [76]:
data = data[['Ones', 'Sex', 'Pclass', 'SibSp', 'Age', 'Fare', 'Embarked', 'Survived']]
data.head(7)

   Ones  Sex  Pclass  SibSp   Age     Fare  Embarked  Survived
0     1    1       1      1  22.0   7.2500       3.0         0
1     1    0       3      1  38.0  71.2833       1.0         1
2     1    0       1      0  26.0   7.9250       3.0         1
3     1    0       3      1  35.0  53.1000       3.0         1
4     1    1       1      0  35.0   8.0500       3.0         0
5     1    1       1      0   NaN   8.4583       2.0         0
6     1    1       3      0  54.0  51.8625       3.0         0

In [77]:
cols = data.shape[1]

X = data.iloc[:,:cols-1]
Y = data.iloc[:,cols-1:cols]


X = np.matrix(X)
Y = np.matrix(Y)


X.shape, Y.shape

((891, 7), (891, 1))

In [78]:
X[:,4][np.isnan(X[:,4])] = X[:,4][np.invert(np.isnan(X[:,4]))].mean()
X[np.isnan(X)] = 1

X[:,4] = (X[:,4] - X[:,4].mean()) / X[:,4].std()
X[:,5] = (X[:,5] - X[:,5].mean()) / X[:,5].std()
X[:,6] = np.power(X[:,6], 0.5)
X[:,2] = np.power(X[:,2], 2)

In [79]:
temp = X.copy()
temp.shape

(891, 7)

In [80]:
SibClass = np.squeeze(np.asarray(np.multiply(X[:,2], X[:,3])))
SibClass.shape

(891,)

In [81]:
X = np.insert(temp, 7,SibClass, axis=1)
X[:,7] = (X[:,7] - X[:,7].mean()) / X[:,7].std()

In [82]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
Y_onehot = encoder.fit_transform(Y)
Y_onehot.shape

(891, 2)

In [83]:
def sigmoid(z):
    
    return 1/(1 + np.exp(-z))

In [84]:
def forward_prop(X, theta1, theta2):
    
    X = np.matrix(X)
    theta1 = np.matrix(theta1)
    theta2 = np.matrix(theta2)
    m = X.shape[0]
    
    a1 = X
    z2 = a1 * (theta1.T)
    a2 = np.insert(sigmoid(z2), 0, np.ones(m), axis=1)
    z3 = a2 * (theta2.T)
    hx = sigmoid(z3)
    
    return a1, z2, a2, z3, hx

In [85]:
def cost(params, X, Y, input_size, hidden_size, num_labels, learning_rate):
    
    X = np.matrix(X)
    Y = np.matrix(Y)
    m = X.shape[0]
    
    theta1 = np.matrix(np.reshape(params[:((input_size + 1) * hidden_size)], (hidden_size, input_size + 1)))
    theta2 = np.matrix(np.reshape(params[(input_size + 1) * hidden_size:], (num_labels, hidden_size + 1)))
    
    a1, z2, a2, z3, hx = forward_prop(X, theta1, theta2)
    
    J = 0
    
    for i in range(m):
        
        sum1 = -(Y[i,:]) * (np.log(hx[i,:]).T)
        sum2 = (1 - Y[i,:]) * (np.log(1 - hx[i,:])).T
        
        J += np.sum(sum1 - sum2)
        
    J = J/m
    
    J += (float(learning_rate) / (2 * m)) * (np.sum(np.power(theta1[:,1:], 2)) + np.sum(np.power(theta2[:,1:], 2)))
    
    return J

In [94]:
input_size = 7
hidden_size = 14
num_labels = 2
learning_rate = 1

In [95]:
params = (np.random.random(size = hidden_size*(input_size + 1) + num_labels*(hidden_size + 1)) - 0.5)*0.25
cost(params, X, Y_onehot, input_size, hidden_size, num_labels, learning_rate), params.shape

(1.3755097891577124, (142,))

In [96]:
def sigmoid_gradient(z):
    
    return np.multiply(sigmoid(z), (1 - sigmoid(z)))

In [97]:
def backprop(params, input_size, hidden_size, num_labels, X, Y, learning_rate):
    X = np.matrix(X)
    Y = np.matrix(Y)
    m = X.shape[0]
    
    theta1 = np.matrix(np.reshape(params[:(input_size + 1)*hidden_size], (hidden_size, (input_size + 1))))
    theta2 = np.matrix(np.reshape(params[hidden_size*(input_size + 1):], (num_labels, (hidden_size +1))))
    
    a1, z2, a2, z3 ,hx = forward_prop(X, theta1, theta2)
    
    delta1 = np.zeros(theta1.shape)
    delta2 = np.zeros(theta2.shape)
    
    J = 0
    for i in range(m):
        sum1 = np.multiply(-Y[i,:], np.log(hx[i,:]))
        sum2 = np.multiply((1-Y[i,:]), np.log(1 - hx[i,:]))
        
        J += np.sum(sum1 - sum2)
        
    J = J/m
    
    J += (float(learning_rate) / (2 * m)) * (np.sum(np.power(theta1[:,1:], 2)) + np.sum(np.power(theta2[:,1:], 2)))
    
    for t in range(m):
        a1t = a1[t,:]
        z2t = z2[t,:]
        a2t = a2[t,:]
        hxt = hx[t,:]
        Yt  = Y[t,:]
        
        d3t = hxt - Yt
        
        z2t = np.insert(z2t, 0, values=np.ones(1))
        d2t = np.multiply((theta2.T * d3t.T).T, sigmoid_gradient(z2t))
        
        delta1 = delta1 + d2t[:,1:].T * a1t
        delta2 = delta2 + d3t.T * a2t
        
        delta1[:,1:] = delta1[:,1:] + (theta1[:,1:] * learning_rate) / m
        delta2[:,1:] = delta2[:,1:] + (theta2[:,1:] * learning_rate) / m
        
    delta1 = delta1 / m
    delta2 = delta2 / m

        
    grad = np.concatenate((np.ravel(delta1), np.ravel(delta2)))
    
    return J, grad

In [98]:
J, grad = backprop(params, input_size, hidden_size, num_labels, X, Y_onehot, learning_rate)
J, grad.shape

(1.3755097891577124, (142,))

In [99]:
from scipy.optimize import minimize
fmin = minimize(fun=backprop, x0=params, args=(input_size, hidden_size, num_labels, X, Y_onehot, learning_rate), 
                method='TNC', jac=True, options={'maxiter': 350})
fmin

     fun: 0.8433233249811839
     jac: array([  3.77632406e-05,  -6.96401979e-05,  -2.77343197e-04,
        -2.36227778e-05,   8.66762901e-06,   1.78390283e-05,
        -1.74297604e-04,  -9.72462240e-05,   9.33761534e-05,
        -1.30473452e-05,   4.90982539e-04,   1.14305372e-04,
        -3.89349723e-05,   5.55094784e-05,   1.02630248e-04,
        -1.50445898e-05,  -1.02621596e-04,  -6.19867319e-05,
        -3.09591067e-04,  -1.26984803e-04,   1.10355563e-04,
        -2.50849972e-05,   4.69570013e-05,  -2.84420698e-06,
        -1.20631947e-05,  -5.86145159e-05,   4.39067232e-05,
         4.04660720e-05,  -4.76021582e-05,   4.24680656e-05,
        -5.05685216e-05,   1.35739472e-05,  -1.02273647e-04,
        -2.52765706e-05,  -5.33872548e-04,  -1.23293849e-04,
         8.50137394e-05,  -8.49645889e-05,  -8.33623403e-05,
         1.41053026e-05,  -1.88417502e-05,  -1.05945779e-04,
        -1.48894551e-04,   9.15744208e-05,   9.18414387e-05,
         8.71907950e-05,  -2.77861620e-05,  -1.49413916e-04,
         3.04200693e-05,  -7.18897626e-06,   4.74998109e-04,
         1.70000196e-04,  -7.02843508e-05,   7.40771257e-05,
         1.12365595e-04,  -3.92961654e-05,  -2.52757161e-05,
        -4.93193222e-05,  -1.16149558e-04,   4.14131061e-05,
        -4.74315493e-05,  -4.81019424e-05,  -5.32815928e-05,
        -1.55808141e-05,  -4.03374908e-06,   3.64904048e-05,
         4.92553493e-05,  -4.80738163e-05,   9.68258253e-06,
        -2.26226565e-05,  -2.68924409e-05,  -5.46798589e-05,
        -8.82801179e-05,   1.52299988e-05,  -3.99549593e-04,
        -4.44325758e-05,  -4.18078871e-05,  -6.81270239e-05,
         6.52045978e-05,   6.85867950e-05,   7.32546490e-06,
         5.58483232e-05,  -8.59061478e-05,  -5.53158222e-05,
         5.09327719e-05,  -3.65304689e-05,   5.58125372e-05,
        -2.54757550e-05,   9.98030431e-05,   1.26021395e-04,
        -1.96580438e-05,  -1.87501351e-05,   4.70176756e-05,
        -1.58450462e-04,   2.21065847e-04,  -1.25064194e-04,
        -1.21281264e-04,  -3.12959453e-05,  -1.93463406e-04,
        -1.55218945e-04,   3.39162572e-05,  -1.15729929e-04,
        -1.53527950e-04,  -6.28708107e-05,  -2.41289396e-05,
        -1.79763289e-06,  -1.96295921e-06,   4.72021043e-05,
        -3.30837426e-06,   2.15202832e-05,  -1.63256088e-05,
         4.28930783e-05,   1.98754002e-05,   6.00110923e-05,
         3.52589699e-05,  -8.17914631e-06,   2.52116519e-05,
         3.99491442e-05,  -1.86163504e-05,  -2.05242653e-05,
         4.10185096e-05,   1.88650462e-05,   1.64339393e-04,
         1.23907101e-05,   9.82436822e-05,   3.90113908e-05,
         6.27745589e-06,   1.53765177e-04,   2.02182875e-05,
         4.07181662e-06,   1.47523931e-04,   4.81430015e-06,
         8.61203363e-05,   6.00626904e-05,   8.15267690e-05,
         1.24174039e-05,   2.51860657e-05,  -3.45899931e-05,
         1.01750100e-04,  -5.87036430e-05,  -1.37948399e-05,
         9.67404777e-05])
 message: 'Max. number of function evaluations reached'
    nfev: 350
     nit: 34
  status: 3
 success: False
       x: array([  3.41194327e+00,  -1.05452330e+00,  -3.74039359e-01,
        -3.76161637e-01,   3.05900949e+00,   3.42596104e-01,
        -4.89272728e-01,   1.68960026e-01,  -1.25542000e+00,
        -1.04139723e+00,   3.33819924e-01,  -5.26690930e-01,
        -8.82171200e-01,   1.37344594e-01,  -1.47270488e-01,
         8.23393295e-01,   3.31485845e+00,   7.54570873e-01,
        -5.83564818e-01,   4.60609909e-01,   1.38035311e+00,
         5.12947453e-01,   1.95489128e-01,  -1.16804713e+00,
        -1.54910436e-01,   6.45241012e-01,  -4.33950344e-01,
        -4.71889242e-01,  -9.40277208e-01,   4.99823158e-01,
        -3.84095140e-01,  -2.81603648e-02,   1.25229263e+00,
         1.05577236e+00,  -3.41335272e-01,   5.70192958e-01,
         9.34601104e-01,  -1.51014054e-01,   1.81519299e-01,
        -8.64894564e-01,  -1.04262054e+00,  -2.36319794e+00,
         7.62958200e-01,   5.28480239e-01,   5.41462828e-01,
        -1.41527577e+00,  -1.12573403e+00,  -8.87892255e-01,
         1.21019735e-01,  -1.99663408e+00,   3.80935146e-01,
         1.27367583e-02,  -1.08754928e+00,  -5.73912936e-01,
        -3.91325586e-01,   2.18068065e-02,  -1.62410046e-01,
         7.69364055e-01,  -4.95980658e-01,  -4.79564021e-01,
        -9.50501364e-01,   5.66460940e-01,  -3.88663601e-01,
        -1.65691877e-02,   4.83625871e-01,  -6.79716592e-01,
        -8.60271767e-01,   4.57409609e-01,   2.92756177e-01,
        -6.61965232e-01,   3.54893884e-01,  -8.03741530e-02,
         1.10674039e+00,   1.20973440e+00,  -7.08477145e-02,
         1.08556029e-01,  -6.15704457e-01,  -1.77057765e-01,
         1.43943332e-01,  -1.15056257e-01,   1.67137464e-01,
        -8.10397164e-01,   4.96595175e-01,   4.97714231e-01,
         9.98449036e-01,  -5.86726921e-01,   4.29728073e-01,
         4.19454960e-04,  -2.61500215e+00,   2.75079729e+00,
         2.71229918e-01,  -9.64192598e-01,   6.20261889e-01,
        -4.58471139e-01,  -2.99563934e-01,   4.54489652e-01,
        -4.76472761e+00,   1.49108829e+00,   5.96035994e-01,
         6.33350627e-01,   2.32124268e-01,  -1.78503434e-01,
        -8.20273016e-02,   4.62268370e-01,  -4.56852636e-01,
         5.85018399e-01,   7.90562758e-01,  -4.07720783e-01,
        -2.54719698e-01,   5.39900127e-01,  -2.95024053e-01,
         4.72622638e-02,  -1.31076993e+00,  -1.96729804e+00,
        -1.23690783e+00,   1.57291920e+00,  -1.00603334e+00,
         1.33731653e+00,  -2.18034713e+00,  -1.57915634e+00,
        -1.07392542e+00,   9.31733006e-01,   9.92333799e-01,
         1.15510992e+00,   2.32066176e+00,   1.36435569e+00,
        -7.84098926e-01,   1.35888678e+00,   1.96327084e+00,
         1.23144562e+00,  -1.57832230e+00,   9.90281667e-01,
        -1.33992293e+00,   2.18230932e+00,   1.57230252e+00,
         1.07960961e+00,  -9.45049292e-01,  -1.00254455e+00,
        -1.16663739e+00,  -2.32528701e+00,  -1.36767197e+00,
         7.73366886e-01])

In [100]:
X = np.matrix(X)
theta1 = np.matrix(np.reshape(fmin.x[:hidden_size * (input_size + 1)], (hidden_size, (input_size + 1))))
theta2 = np.matrix(np.reshape(fmin.x[hidden_size * (input_size + 1):], (num_labels, (hidden_size + 1))))

a1, z2, a2, z3, h = forward_prop(X, theta1, theta2)
y_pred = np.array(np.argmax(h, axis=1))

In [117]:
np.sum(h, axis=1)

matrix([[ 1.00004348],
        [ 1.00079219],
        [ 1.00020982],
        [ 1.00020045],
        [ 1.00009414],
        [ 1.00071352],
        [ 1.00004823],
        [ 1.00016221],
        [ 1.00014953],
        [ 1.00024424],
        [ 1.00011474],
        [ 0.99969466],
        [ 1.00017139],
        [ 1.00004809],
        [ 1.0000612 ],
        [ 1.00016848],
        [ 1.00001427],
        [ 1.00047044],
        [ 1.00002211],
        [ 1.00083392],
        [ 1.00031099],
        [ 1.00084822],
        [ 1.00013684],
        [ 0.99998006],
        [ 1.00052992],
        [ 1.00001527],
        [ 1.00011979],
        [ 1.00040792],
        [ 0.9997271 ],
        [ 1.00019155],
        [ 0.99999969],
        [ 1.00028968],
        [ 1.00020002],
        [ 1.00013211],
        [ 0.99998537],
        [ 1.00058131],
        [ 1.00005199],
        [ 1.00009038],
        [ 1.00026095],
        [ 1.00048029],
        [ 1.00003764],
        [ 0.99998785],
        [ 0.99999743],
        [ 1.00018646],
        [ 1.00004856],
        [ 1.00025006],
        [ 0.99956402],
        [ 1.00012202],
        [ 1.00059375],
        [ 1.00032848],
        [ 0.9998982 ],
        [ 1.00011677],
        [ 1.00040427],
        [ 1.00040525],
        [ 1.00005515],
        [ 1.00011797],
        [ 1.00003378],
        [ 1.00024819],
        [ 1.00016426],
        [ 1.00017252],
        [ 1.00054393],
        [ 1.00006298],
        [ 1.00049508],
        [ 1.00005455],
        [ 1.00059832],
        [ 1.00019457],
        [ 1.00016112],
        [ 0.99975739],
        [ 0.99988541],
        [ 1.0013209 ],
        [ 1.0000145 ],
        [ 1.00037421],
        [ 1.00002225],
        [ 0.99993253],
        [ 1.00008524],
        [ 0.99995044],
        [ 1.00011547],
        [ 1.00008284],
        [ 1.00008638],
        [ 1.0000145 ],
        [ 1.00090941],
        [ 1.0001199 ],
        [ 0.99975491],
        [ 1.00011474],
        [ 1.00007169],
        [ 1.00020015],
        [ 1.00000031],
        [ 1.0001611 ],
        [ 1.00005644],
        [ 1.0003739 ],
        [ 1.00010007],
        [ 1.00011417],
        [ 1.00012974],
        [ 1.00011547],
        [ 0.99996042],
        [ 1.00024918],
        [ 1.00139083],
        [ 1.00014492],
        [ 1.00011221],
        [ 1.00006194],
        [ 1.00003508],
        [ 1.00013781],
        [ 1.00012202],
        [ 1.00022173],
        [ 1.00022098],
        [ 1.00026413],
        [ 1.00041881],
        [ 1.00012202],
        [ 1.00011862],
        [ 1.00026235],
        [ 1.00001345],
        [ 1.00005661],
        [ 1.0000585 ],
        [ 1.00014631],
        [ 1.00129416],
        [ 1.00059142],
        [ 1.00012658],
        [ 1.00019891],
        [ 0.99975064],
        [ 1.00024111],
        [ 1.000206  ],
        [ 1.00014304],
        [ 1.00004037],
        [ 1.00016629],
        [ 1.00012202],
        [ 1.00022012],
        [ 1.00033901],
        [ 1.00011652],
        [ 1.00001327],
        [ 1.00027933],
        [ 1.00007953],
        [ 0.9998294 ],
        [ 1.00016783],
        [ 1.00015699],
        [ 0.99999421],
        [ 1.00027791],
        [ 1.00025269],
        [ 1.00013319],
        [ 1.00003969],
        [ 1.00015025],
        [ 0.99996177],
        [ 1.0001018 ],
        [ 1.00015635],
        [ 1.0001274 ],
        [ 0.99970196],
        [ 1.00007347],
        [ 0.99999644],
        [ 1.00034109],
        [ 0.99998785],
        [ 1.00008774],
        [ 1.00011487],
        [ 1.00013546],
        [ 0.99999986],
        [ 1.00030511],
        [ 1.00008609],
        [ 1.00027571],
        [ 1.00023213],
        [ 1.00003872],
        [ 0.99970196],
        [ 1.00003263],
        [ 1.00005634],
        [ 1.00092761],
        [ 1.00023943],
        [ 1.00011056],
        [ 1.00001037],
        [ 1.00008417],
        [ 0.99971663],
        [ 1.00036142],
        [ 1.00010665],
        [ 1.00006689],
        [ 1.00011311],
        [ 1.00023463],
        [ 1.00028585],
        [ 1.00013137],
        [ 1.00008906],
        [ 1.00027737],
        [ 1.00032295],
        [ 1.00027592],
        [ 1.00029755],
        [ 1.00091866],
        [ 1.00008638],
        [ 0.99995821],
        [ 1.00014584],
        [ 1.00012202],
        [ 1.00024132],
        [ 1.00001203],
        [ 1.00030507],
        [ 1.00024633],
        [ 0.99999628],
        [ 1.00000886],
        [ 1.00002854],
        [ 0.9999876 ],
        [ 1.00073092],
        [ 1.00019678],
        [ 1.00053688],
        [ 1.00006119],
        [ 0.9999755 ],
        [ 1.00015982],
        [ 1.00016964],
        [ 1.00005237],
        [ 1.00010342],
        [ 1.00068325],
        [ 1.00006468],
        [ 1.00019962],
        [ 1.0001421 ],
        [ 0.99990099],
        [ 1.0002483 ],
        [ 1.00015527],
        [ 1.0000816 ],
        [ 1.00024986],
        [ 1.00015002],
        [ 1.00011079],
        [ 1.00062122],
        [ 1.00160633],
        [ 1.0002143 ],
        [ 0.99973166],
        [ 1.00005719],
        [ 1.00006388],
        [ 1.00034384],
        [ 1.00011547],
        [ 1.00010938],
        [ 1.00037555],
        [ 1.0002909 ],
        [ 1.00037334],
        [ 1.00013692],
        [ 1.00010898],
        [ 1.00030724],
        [ 1.00005644],
        [ 1.00001514],
        [ 1.00002156],
        [ 1.00067309],
        [ 1.00013724],
        [ 1.00028623],
        [ 1.0001227 ],
        [ 0.99994715],
        [ 1.00041125],
        [ 1.00049115],
        [ 1.00051379],
        [ 1.00032439],
        [ 1.00007421],
        [ 1.00018806],
        [ 1.00065233],
        [ 1.00000992],
        [ 1.0001147 ],
        [ 1.00019887],
        [ 0.99998955],
        [ 1.00029963],
        [ 0.99998581],
        [ 1.00024111],
        [ 1.00010131],
        [ 1.00012224],
        [ 1.0004119 ],
        [ 1.00009935],
        [ 1.0002887 ],
        [ 1.0000763 ],
        [ 1.00011311],
        [ 1.00012202],
        [ 1.00017072],
        [ 1.00029452],
        [ 1.00037316],
        [ 1.00007588],
        [ 1.00037385],
        [ 1.00020595],
        [ 1.00019475],
        [ 1.00005663],
        [ 1.00011474],
        [ 0.99997466],
        [ 1.00011311],
        [ 1.00005199],
        [ 1.0005522 ],
        [ 0.99973688],
        [ 1.00012202],
        [ 1.00013579],
        [ 1.00009669],
        [ 1.00013135],
        [ 1.00036114],
        [ 1.00010678],
        [ 0.99998026],
        [ 1.00008125],
        [ 1.00018549],
        [ 1.00004274],
        [ 1.00082415],
        [ 1.00005644],
        [ 1.00026324],
        [ 1.00020961],
        [ 1.00002161],
        [ 1.00011172],
        [ 0.99995128],
        [ 1.00013137],
        [ 1.00011547],
        [ 0.99999302],
        [ 1.00004434],
        [ 1.00013137],
        [ 1.00013473],
        [ 1.00002846],
        [ 1.0002225 ],
        [ 1.00007758],
        [ 1.00019155],
        [ 0.99999782],
        [ 1.00014455],
        [ 1.0000784 ],
        [ 1.00005447],
        [ 1.00002463],
        [ 1.00028381],
        [ 1.00005644],
        [ 1.00041665],
        [ 1.00025519],
        [ 1.00069947],
        [ 1.00013874],
        [ 1.0007104 ],
        [ 1.00050445],
        [ 1.00042845],
        [ 1.00011323],
        [ 1.00035239],
        [ 1.00046197],
        [ 1.0001835 ],
        [ 1.00017186],
        [ 1.00024389],
        [ 1.00019559],
        [ 1.00036517],
        [ 1.00022173],
        [ 1.00030905],
        [ 1.00013319],
        [ 0.99994425],
        [ 1.00019705],
        [ 1.00030154],
        [ 1.00033138],
        [ 0.99974957],
        [ 1.00010368],
        [ 1.00020848],
        [ 1.00088939],
        [ 0.99961002],
        [ 1.00013135],
        [ 1.00017925],
        [ 1.00019584],
        [ 0.9999906 ],
        [ 1.00006248],
        [ 1.00001679],
        [ 1.00017975],
        [ 1.00013137],
        [ 1.00026728],
        [ 1.00007759],
        [ 1.00054383],
        [ 1.00167138],
        [ 1.00015736],
        [ 1.0001968 ],
        [ 1.00013319],
        [ 1.0004164 ],
        [ 1.00016011],
        [ 1.00019235],
        [ 1.00006695],
        [ 1.0001421 ],
        [ 1.00057653],
        [ 1.0000324 ],
        [ 1.00019555],
        [ 0.99978261],
        [ 1.0001577 ],
        [ 1.00011466],
        [ 1.00012202],
        [ 1.00008678],
        [ 1.00000351],
        [ 1.00017379],
        [ 1.00019235],
        [ 1.00020045],
        [ 1.00011567],
        [ 1.0004392 ],
        [ 1.00020018],
        [ 1.00024684],
        [ 1.00006488],
        [ 1.00007699],
        [ 1.00025277],
        [ 1.00006798],
        [ 0.99967072],
        [ 1.00002217],
        [ 1.00016316],
        [ 1.00040932],
        [ 1.00008918],
        [ 1.00020518],
        [ 0.99999897],
        [ 1.00015798],
        [ 1.00012202],
        [ 1.00024604],
        [ 1.00009263],
        [ 1.00015537],
        [ 1.00008302],
        [ 1.00038572],
        [ 1.00027734],
        [ 1.00011315],
        [ 1.00041814],
        [ 1.00035152],
        [ 1.00001073],
        [ 1.00015709],
        [ 1.00089862],
        [ 1.0000385 ],
        [ 1.00008586],
        [ 1.00015117],
        [ 1.00030613],
        [ 1.00006104],
        [ 1.00033884],
        [ 1.00010468],
        [ 1.00013599],
        [ 0.99998286],
        [ 1.00012058],
        [ 0.99998161],
        [ 0.9999432 ],
        [ 1.00025227],
        [ 1.00019584],
        [ 1.00006515],
        [ 1.00005627],
        [ 1.00020611],
        [ 1.00005644],
        [ 1.00004583],
        [ 1.00000649],
        [ 1.00011547],
        [ 1.00005301],
        [ 1.00000473],
        [ 1.00011547],
        [ 1.00024907]])

In [101]:
np.sum(np.fabs(Y - y_pred))

141.0

In [102]:
(891 - np.sum(np.fabs(Y - y_pred))) / 891

0.84175084175084181

In [103]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('test.csv')
data.insert(0, 'Ones', 1)

df = data[['PassengerId']]

In [104]:
data = data.drop(data.columns[[3, 7, 8, 10]], axis=1)
data.head(3)

   Ones  PassengerId  Pclass     Sex   Age  SibSp    Fare Embarked
0     1          892       3    male  34.5      0  7.8292        Q
1     1          893       3  female  47.0      1  7.0000        S
2     1          894       2    male  62.0      0  9.6875        Q

In [105]:
data = data[['Ones', 'Sex', 'Pclass', 'SibSp', 'Age', 'Fare', 'Embarked']]
data.head(2)

   Ones     Sex  Pclass  SibSp   Age    Fare Embarked
0     1    male       3      0  34.5  7.8292        Q
1     1  female       3      1  47.0  7.0000        S

In [106]:
data = data.replace({'male': 1,'female': 0})
data = data.replace({'C': 1, 'Q': 2, 'S': 3})
data.iloc[:,2] = data.iloc[:,2].replace({3: 1,1: 3})
data.head(5)

   Ones  Sex  Pclass  SibSp   Age     Fare  Embarked
0     1    1       1      0  34.5   7.8292         2
1     1    0       1      1  47.0   7.0000         3
2     1    1       2      0  62.0   9.6875         2
3     1    1       1      0  27.0   8.6625         3
4     1    0       1      1  22.0  12.2875         3

In [107]:
cols = data.shape[1]

X = data.iloc[:,:cols]


X = np.matrix(X)
Y = np.matrix(Y)


X.shape

(418, 7)

In [108]:
X[:,4][np.isnan(X[:,4])] = X[:,4][np.invert(np.isnan(X[:,4]))].mean()
X[np.isnan(X)] = 1

X[:,4] = (X[:,4] - X[:,4].mean()) / X[:,4].std()
X[:,5] = (X[:,5] - X[:,5].mean()) / X[:,5].std()
X[:,6] = np.power(X[:,6], 0.5)
X[:,2] = np.power(X[:,2], 2)

In [109]:
temp = X.copy()
SibClass = np.squeeze(np.asarray(np.multiply(X[:,2], X[:,3])))

In [110]:
X = np.insert(temp, 7,SibClass, axis=1)
X[:,7] = (X[:,7] - X[:,7].mean()) / X[:,7].std()

In [111]:
X.shape

(418, 8)

In [112]:
X = np.matrix(X)
theta1 = np.matrix(np.reshape(fmin.x[:hidden_size * (input_size + 1)], (hidden_size, (input_size + 1))))
theta2 = np.matrix(np.reshape(fmin.x[hidden_size * (input_size + 1):], (num_labels, (hidden_size + 1))))

a1, z2, a2, z3, h = forward_prop(X, theta1, theta2)
y_pred = np.array(np.argmax(h, axis=1))

In [113]:
predictions = y_pred.astype(int)

In [114]:
df.insert(1, 'Survived', predictions)

In [115]:
df.to_csv('predictions2222.csv')